<div class="footer" style="
    height: 100px;
    background: #656363;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
">NeighbourHood</div>
</body>

</html>