<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/996973c893.js" crossorigin="anonymous"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;500;600;700;800&display=swap"
        rel="stylesheet" />
    <!-- <script src="../../public/js/health.js"></script> -->
    <title>NeighbourHood</title>

    <script defer src="../../public/js/health.js"></script>

</head>

<body>

    <div class="container">
        <form action="/covid/report" method="GET" enctype="multipart/form-data">
            <div id="health"></div>
            <div id="alert">*Please select atleast one option</div>
            <button class="btn btn-outline-success" id="next">Next <span id="next-span">-></span></button>
            <div class="container my-5">
                <a href="" class="btn btn-outline-success my-5" id="submit"> Get Virtual Report </a>
            </div>
        </form>
    </div>

    <!-- <script src="../../public/js/newHealth.js"></script> -->
    <!-- <script src="../../public/js/health.js"></script> -->
</body>

</html>