<div class="container my-4 signup-form">
    <form method="POST" action="/login">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email" value="" required>
            </div>
            <div class="form-group col-md-6">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" value=""
                    placeholder="Password" required>
            </div>
        </div>
        <div class="form-group my-4">
            <label for="login_category">Register as:</label>
            <select class="form-control" id="login_category" name="login_category">
                <option value="volunteer">Volunteer</option>
                <option value="normal">Non-Volunteer</option>
            </select>
        </div>

        <div style="display: flex;">
            <button type="submit" class="btn btn-primary" style="margin: auto;">Login</button>
        </div>
        <div style="display: flex;justify-content: center;" class="my-4">
            <a href="#">
                Forgot Password
            </a>
        </div>
    </form>
</div>